<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.dao.CategoryMapper">
    <resultMap id="BaseResult" type="Category">
        <id column="id" property="id"/>
        <result property="catName" column="cat_name"/>
        <result property="parentId" column="parent_id"/>
<!--        <association property="parentCategory" fetchType="lazy" column="parent_id" select="com.liu.dao.CategoryMapper.findById"/>-->
        <collection property="childrenCategories" fetchType="eager" column="id" select="com.liu.dao.CategoryMapper.findByParentId"/>
    </resultMap>
    <select id="findOneStair" resultMap="BaseResult">
        select * from tb_category where parent_id = 0
    </select>


    <!--  查询所以分类  -->
    <select id="findAll" resultMap="BaseResult">
        SELECT * FROM tb_category
    </select>
    <!--  根据id查询分类  -->
    <select id="findById" resultMap="BaseResult">
        select * from tb_category where id = #{id}
    </select>

    <!--  根据父类ID查询子分类集合  -->
    <select id="findByParentId" resultMap="BaseResult">
        select * from tb_category where parent_id = #{parentId}
    </select>

</mapper>